<footer>
  <% if ('/' !== page.url && '/ja/' !== page.url) { %>
  <p>
	  <a href="<%= i18n[lang].homeUrl %>"><%= i18n[lang].backToHome %></a>
  </p>
  <% } %>
  <p>
		Built with <a href="https://www.11ty.dev/">Eleventy</a>, coloured with <a href="https://ethanschoonover.com/solarized/">Solarized</a> palette and powered by <a href="https://www.netlify.com/">Netlify</a>.
  </p>
  <p>
	  &copy; 2020 <a href="<%= metadata.author.url %>"><%= metadata.author.name %></a>
  </p>
</footer>
