<% include /parts/head %>
<body>
  <header>
    <h1>
      <%= metadata.title %>
    </h1>
    <nav>
      <% Object.keys(i18n).forEach(key => { if (key !== lang) { %>
      <a href="<%= i18n[key].homeUrl %>"><%= i18n[key].language %></a>
      <% }}); %>
    </nav>
  </header>
  <main role="main">
    <%- content %>
  </main>
  <hr>
  <% include /parts/footer %>
  <% include /parts/ga %>
</body>

</html>
