<% include /parts/head %>
<body>
  <header>
    <h1><%- title %></h1>
    <p>
      <% var lastUpdated = 'undefined' !== typeof(updated) ? updated : page.date; %>
      <%- `${i18n[lang].updatedStart}${include('/parts/date', { date: lastUpdated })}${i18n[lang].updatedEnd}` %>
    </p>
    <p>
      <%- i18n[lang].tagged %>
      <% include /parts/tagged %>
    </p>
  </header>
  <hr>
  <main>
    <article>
      <%- content %>
    </article>
    <% include /parts/disqus %>
  </main>
  <hr>
  <% include /parts/footer %>
  <% if ('production' === app.env) { %>
  <script src="/assets/js/anchors.min.js" defer></script>
  <script src="/assets/js/toc.min.js" defer></script>
  <% } else { %>
  <script src="/assets/js/anchors.js" defer></script>
  <script src="/assets/js/toc.js" defer></script>
  <% } %>
  <% include /parts/schema %>
</body>

</html>

