<% include /parts/head %>
<body>
  <main role="main">
    <article>
      <header>
        <h1><%- title %></h1>
        <p>
          <% var lastUpdated = 'undefined' !== typeof(updated) ? updated : page.date; %>
          <%- `${i18n[lang].updatedStart}${include('/parts/date', { date: lastUpdated })}${i18n[lang].updatedEnd}` %>
        </p>
      </header>
      <hr>
      <%- content %>
    </article>
    <% include /parts/disqus %>
  </main>
  <hr>
  <% include /parts/footer %>
  <% include /parts/ga %>
  <% if ('production' === app.env) { %>
  <script src="/assets/js/anchors.min.js" defer></script>
  <% } else { %>
  <script src="/assets/js/anchors.js" defer></script>
  <% } %>
</body>

</html>

