<% include /parts/head %>
<body>
  <main role="main">
    <article>
      <header>
        <h1><%- title %></h1>
        <p>
          <%- include('/parts/date', { date: page.date }) %>
          <% if ('undefined' !== typeof(updated)) { %>
          <%- `${i18n[lang].updatedStart}${include('/parts/date', { date: updated })}${i18n[lang].updatedEnd}` %>
          <% } %>
        </p>
      </header>
      <hr>
      <%- content %>
    </article>
    <% include /parts/disqus %>
  </main>
  <hr>
  <% include /parts/footer %>
  <% include /parts/ga %>
  <script src="/assets/js/anchors.min.js"></script>
</body>

</html>

