<% include /parts/head %>
<body>
  <main role="main">
    <h1>
      <%- title %>
    </h1>
    <p>
      <%- include('/parts/date', { date: page.date }) %>
      <% if ('undefined' !== typeof(updated)) { %>
      <%- `${i18n[lang].updatedStart}${include('/parts/date', { date: updated })}${i18n[lang].updatedEnd}` %>
      <% } %>
    </p>
    <%- content %>
    <% include /parts/disqus %>
  </main>
  <hr>
  <% include /parts/footer %>
  <% include /parts/ga %>
</body>

</html>

