<% include /parts/head %>
<body>
  <main>
    <h1><%= i18n[lang].tagTitlePrefix + tagsList[tag][lang] %></h1>
    <%- include('/parts/archive', { tag: tag }) %>
  </main>
  <hr>
  <% include /parts/footer %>
  <% include /parts/ga %>
</body>

</html>

