html {
  background: transparent;
}

body {
  font-family: verdana, sans-serif;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 50em;
  padding: 1em;
  word-break: break-word;
}

img {
  max-width: 100%;
}

a,
a:visited {
  color: inherit;
}

a:active,
a:focus {
  outline: 1px dotted;
  outline-offset: 2px;
}

article p {
  text-indent: 1em;
}

/**
 * Code
 */
code {
  font-family: courier;
}

pre {
  border: 1px dashed;
  overflow: auto;
  padding: 1em;
}

pre code::before {
  display: block;
  font-weight: bold;
  margin: 0 0 1em;
}

.language-javascript::before {
  content: 'JS:';
}

.language-html::before {
  content: 'HTML:';
}

.language-css::before {
  content: 'CSS:';
}

.language-php::before {
  content: 'PHP:';
}

@media (min-width: 768px) {
  pre {
    white-space: pre-wrap;
  }
}

/**
 * Japanese
 */
html[lang="ja"] body {
  font-family: verdana, 'Noto Sans JP';
}

html[lang="ja"] code {
  font-family: courier, 'Noto Sans JP';
}

/**
 * Print
 */
@media not print {
  .dark body {
    background: #121212;
    color: rgba(255,255,255,.8);
  }
}

@media print {
  a[href]::after {
    content: " (" attr(href) ")";
  }
}
